
.fm-content, .fm-tail {
  max-width: 796px;
  width: 100%; }

.fm-content__desc {display:none !important;}
.fm-content__second {display:none !important;}


.mdl-cell--12-col{width: 780px;}
.mdl-cell--6-col{width: 382px;}